version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - stock_network

  kafka:
    image: confluentinc/cp-kafka:7.4.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://host.docker.internal:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions.sh", "--bootstrap-server", "localhost:9092"]
      interval: 5s
      timeout: 10s
      retries: 10
      start_period: 30s
    networks:
      - stock_network

  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    container_name: kafdrop
    depends_on:
      - kafka
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:9092"
    networks:
      - stock_network

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9001:9001"
      - "9002:9000"
    environment:
    #change
      MINIO_ROOT_USER: <YOUR_USER>
      MINIO_ROOT_PASSWORD: <YOUR_PASSWORD>
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - stock_network

  producer:
    build:
      context: .
      dockerfile: Dockerfile.producer
    container_name: stock-producer
    depends_on:
      - kafka
    environment:
      FINNHUB_API_KEY: ${FINNHUB_API_KEY}
      KAFKA_BROKER: kafka:9092
    restart: unless-stopped
    networks:
      - stock_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  consumer:
    build:
      context: .
      dockerfile: Dockerfile.consumer
    container_name: stock-consumer
    depends_on:
      - kafka
      - minio
    environment:
      KAFKA_BROKER: kafka:9092
      MINIO_ENDPOINT: http://minio:9000
      #change
      MINIO_ACCESS_KEY: <YOUR_USER>
      MINIO_SECRET_KEY: <YOUR_PASSWORD>
    restart: unless-stopped
    networks:
      - stock_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  airflow-webserver:
    image: apache/airflow:2.9.3
    container_name: airflow-webserver
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_started
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
      - _PIP_ADDITIONAL_REQUIREMENTS=yfinance pandas
      - DOCKER_HOST=tcp://host.docker.internal:2375
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    ports:
      - "8080:8080"
    command: webserver
    networks:
      - stock_network

  airflow-scheduler:
    image: apache/airflow:2.9.3
    container_name: airflow-scheduler
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_started
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
      - _PIP_ADDITIONAL_REQUIREMENTS=yfinance pandas
      - DOCKER_HOST=tcp://host.docker.internal:2375
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    command: scheduler
    networks:
      - stock_network

  postgres:
    image: postgres:15
    container_name: airflow-postgres
    restart: always
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
    - postgres_data:/var/lib/postgresql/data
    ports:
    - "5432:5432"
    networks:
    - stock_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 10s
      timeout: 5s
      retries: 5

  dbt:
    build:
      context: .
      dockerfile: Dockerfile.dbt
    container_name: dbt
    volumes:
      - C:\Users\sarac\real-time-stocks-mds\infra\dbt_stocks\stock_market_analytics:/dbt
      - ./dbt_logs:/root/.dbt
    environment:
      - DBT_PROFILES_DIR=/dbt
      #change
      - SNOWFLAKE_ACCOUNT=<YOUR_SEVER>
      - SNOWFLAKE_USER=<YOUR_USER>
      - SNOWFLAKE_PASSWORD=<YOUR_PASSWORD>
    working_dir: /dbt
    networks:
      - stock_network
    restart: unless-stopped
    command: tail -f /dev/null

volumes:
  postgres_data:
  minio_data:

networks:
  stock_network:
    driver: bridge